html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
.Tenantbox { width:25%; 
   border-radius: 10px; 
   border: solid 1px ;  
   border-color: #D4BB73;  
   padding:1%;  
   margin: 10px;  
   background-color:#00000080;  
   align-items: top; 
   text-align:center; 
   z-index: 3;
   display:block; 
   box-sizing: border-box;
   font-size: 1rem;
   }

@media (max-width: 768px) { /* Target tablets and smaller */
  
  .Tenantbox { 
   width:40%;  
   align-items: top; 
   text-align:center; 
   font-size: 0.9rem;
   
   }
}

@media (max-width: 480px) { /* Target smartphones */
  
  .Tenantbox { 
   width:100%;  
   align-items: top; 
   text-align:center; 
   font-size: 0.8rem;
   
}
