.topheader {
  display: block; 
}

p.desc {
  font-color: #ffffff;
  font-size: 1.5vw;
  line-height: 1.4;
}

.Tenantbox{
  width: 25%; /* 1/3 width */
  border-radius: 10px;
  border: solid 1px ;
  border-color: #D4BB73;
  padding:1%;
  margin: 10px;
  background-color:#00000080;
  height: auto;
  align-items: top;
  text-align:center;
  position:absolute;
}
  .maincontainer {
  position:relative;
  display:block;
  background-color: #030707;
}
